<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ title }}</title>
	<style>
		body {
			font-family: Ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
		}

		#root {
			max-width: 800px;
			margin: 0 auto;
		}
	</style>
</head>

<body>
	<div id="root">
		<h1>{{ title | default('MapLibre for Python') }}</h1>
		<h2>{{ subtitle | default('Shinylive') }}</h2>
		<ul>
			<!-- <li><a href="getting-started/edit">Getting started</a></li> -->
			{%- for app in apps %}
			<li><a href="{{ app.dir }}/?_shinylive-mode=editor-terminal-viewer" target="_blank">{{ app.title }}</a>
			</li>
			{%- endfor %}
		</ul>
	</div>
</body>

</html>